* {
    margin: 0px;
    padding: 0px;
}

/* start section header */
.header {
    width: 100%;
    height: 600px;
    background-image: url("templet_one/banner-bg.jpg");
    background-size: cover;
    background-position: center;
}

.items ul li {
    float: right;
    list-style-type: none;
    padding-top: 15px;
}

.items ul li a {
    margin-right: 80px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

}

/* .items ul li a:hover {
    color: rgb(239, 61, 61);
} */

.logo img {
    margin-top: 15px;
    margin-left: 70px;
}

.items {
    position: fixed;
    width: 100%;
    /* background-color: rgba(132, 96, 246, 0.8); */
}

/* end section header */
.content {
    width: 100%;
    height: 601px;
    background-color: rgba(132, 96, 246, 0.8);
    text-align: center;
}

.content .text {
    font-size: 25px;
    padding-top: 130px;
    color: white;
    font-family: "Poppins", sans-serif;

}

.content .text h2 {
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 55px;
}

.content .text p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 35px;
}

.content .text button {
    width: 120px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
}

.content .text button:hover {
    width: 150px;
    transition: all 1s;
    cursor: pointer;
    font-size: 18px;
}
.items ul li a:hover {
    color: rgb(239, 61, 61);
    transition: all 1s;
}
/* --------------------------- end section header--------------------------- */
/* --------------------------- start section hestory--------------------------- */
.history{
    background-color:transparent;
    width: 100%;
    height: 600px;
}
.history .head{
    font-family: "Poppins", sans-serif;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}
.history .head h2{
    margin-bottom:15px ;
}
.history .head p{
   color:gray;
}
.contanir_history{
    width: 80%;
    height: 65%;
    margin: auto;
    background-color:transparent;
    position: relative;
}
.contanir_history img{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0px;
}
.contanir_history .buttons{
    width: 270px;
    height: 30px;
    float: right;
    background-color:transparent;
    padding: 10px;
    position: absolute;
    right: 310px;
    top: 20px;
    
}
.contanir_history .buttons button:first-child{
    background-color:#8460f6;
   font-family: "Poppins", sans-serif;
   color:white;
    
}
.contanir_history .buttons button{
    padding-right: 20px;
    padding-left:20px ;
    margin-right: 10px;
    margin-top:3px ;
    padding: 10px;
    /* padding-right: 15px; */
    border-radius: 15px;
    border:none;
    color:black;
}
/* .contanir_history .buttons .color{
   background-color:#8460f6;
   font-family: "Poppins", sans-serif;
   color:white;
} */
.contanir_history .buttons button:hover{
    background-color:#8460f6;
    color:white;
    transition: all 1s;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    
}
.contanir_history .history_text{
    width: 600px;
    height: 200px;
    background-color:white;
    position: absolute;
    left: 380px;
    top: 130px;
}
.contanir_history .history_text h2{
    margin-left: 16px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}
.contanir_history .history_text p{
    color:gray;
}
/* --------------------------- end section history--------------------------- */
/* --------------------------- start section blocks--------------------------- */
.blocks{
    width: 100%;
    height: 400px;
    background-color:#f3487f;
}
.blocks .contanir_blocks{
    width: 70%;
    height: 100%;
    background-color:white;
    margin-left: 180px;
}
.blocks .contanir_blocks .content{
    height: 194px;
    width: 190px;
    background-color:white;
    float: left;
    margin-right: 22px;
    margin-bottom: 10px;
}
.blocks .contanir_blocks .content img{
    margin-top: 60px;
}
.blocks .contanir_blocks .content h3{
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
}
.blocks .contanir_blocks .content .gray p{
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    color:white;
    font-weight: 300;
    font-size: 15px;
}
.blocks .contanir_blocks .content .gray {
   width: 100%;
   height: 150px;
   padding: 1px;
   padding-bottom: 42px;
   background-color:#6f7598;
}
/* --------------------------- end section blocks--------------------------- */
/* --------------------------- start section expretions--------------------------- */
.contanir_exprestions{
        width: 100%;
        height: 550px;
        background-color:white;
        position: relative;
}
.contanir_exprestions .header-exprestions{
    width: 400px;
    height: 150px;
    margin:auto;
    background-color:white;
    padding-top: 30px;
    text-align: center;
}
.contanir_exprestions .header-exprestions h2{
   margin-bottom: 10px;
   font-family: "Poppins", sans-serif;
}
.contanir_exprestions .vector-img{
    width: 80%;
    height:300px ;
    background-color:transparent;
    margin: auto;
    
}
.contanir_exprestions .vector-img img{
    
    width:25% ;
    height: 100%;
}
/* .contanir_exprestions .vector-img .img1{
    left: 500px;
} */
.contanir_exprestions .vector-content{
    width: 490px;
    height: 200px;
    background-color:transparent;
    position: absolute;
    right: 89px;
    top: 220px;
}
.contanir_exprestions .vector-content h2,p {
   padding-left: 18px;
}
.contanir_exprestions .vector-content h2{
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
 }
 /* -------------------------------------------------------------- */

 .some-project{
    width: 100%;
    height: 600px;
    background-color:#5dd1e3;
    
 }
 .some-project .hedaer-som-project{
    width: 500px;
    height: 250px;
    text-align: center;
    background-color:#5dd1e3;
    margin: auto;
 }
 .some-project .hedaer-som-project h2{
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color:white;
 }
 .some-project .hedaer-som-project p{
    font-family: "Poppins", sans-serif;
    color:white;
    padding-bottom: 10px;
 }
 .some-project .content-some-project{
    width: 80%;
    height: 250px;
    background-color:rgb(197, 200, 32);
    margin-left: 120px;
    position: relative;
 }
 .some-project .content-some-project .img-some-project{
    width:70%;
    height: 100%;
    background-color:black;
    position:absolute;
    top: 0;
 }
 .some-project .content-some-project .img-some-project img{
    height: 100%;
    width: 100%;
 }
 .some-project .content-some-project .content-some-project2{
    width:30%;
    height: 100%;
    background-color:white;
    position:absolute;
    right:  0;
    color:white;
 }
 .some-project .content-some-project .content-some-project2 h3{
   padding-top: 40px;
   padding-left: 20px;
   margin-bottom: 20px;
   color:black;
   font-family: "Poppins", sans-serif;
 }
 .some-project .content-some-project .content-some-project2 p{
    color:gray;
 }
 /* -------------------------------------------------------------- */
.contanir-form{
    width: 100%;
    height: 400px;
    background-color:white;
}
.contanir-form .header-contanir-form{
    width: 50%;
    height: 30%;
    background-color:white;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.contanir-form .header-contanir-form h2{
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}
.contanir-form .header-contanir-form p{
    color:gray;
}
.contanir-form .form-contanir {
    width: 70%;
    height: 30%;
    background-color:white;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.contanir-form .form-contanir input {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border:none;
    outline: none;
    border-bottom: 1px solid gray;
}
.contanir-form .form-contanir input:focus {
    border-bottom: 1px solid red;
}
.contanir-form .form-contanir button {
    width: 130px;
    height: 33px;
    font-size: 15px;
    border-radius:15px ;
    border:1px solid black;
    font-family: "Poppins", sans-serif;
    
    border:none;
    background-color:gray;
    color:white;
}
.contanir-form .form-contanir button:hover {
    cursor:pointer;
    /* width: 145px; */
    font-size: 17px;
    transition: all 1s;
    background-color:#8460f6;
}
 /* -------------------------------------------------------------- */
 .email-section{
    width: 100%;
    height: 300px;
    background-color:#f9c400;
 }
 .email-section .header-section-email{
    width:50% ;
    height:150px ;
    background-color:#f9c400;
    margin: auto;
 }
 .email-section .header-section-email h2{
    text-align: center;
    padding-top: 50px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
 }
 .email-section .email-forma{
    width: 100%;
    height: 100px;
    background-color:#f9c400;;
    margin-top: 20px;
 }
 .email-section .email-forma input{
    width: 490px;
    height: 40px;
    background-color:antiquewhite;
    margin-left: 350px;
    border-radius:20px ;
    margin-top: 10px;
    padding-left: 20px;
    border:none;
    border:1px solid white;
    outline: none;
    
}
.email-section .email-forma button{
    width: 180px;
    height: 40px;
    background-color:gray;
    color:white;
    margin-left: 510px;
    border-radius:20px ;
    margin-top: 10px;
    border:none;
    border:1px solid white;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border:none;
    
}
.email-section .email-forma button:hover{
    transition: all 1s;
    background-color:#8460f6;
    font-size: 17px;
    cursor:pointer;
   
   
}















































